<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Informacion de registro</h3>

            <form action="." class="px-md-2" method="POST">
              {% csrf_token %}

              <div data-mdb-input-init class="form-outline mb-4">
                 <label class="form-label" for="nombre">Nombre</label>
                <input name="nombre" type="text" id="nombre" class="form-control" required />
               
              </div>
                 <div data-mdb-input-init class="form-outline mb-4">
                 <label class="form-label" for="correo">correo</label>
                <input name="correo" type="email" id="correo" class="form-control" required />
               
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline datepicker">
                    <label for="fecha" class="form-label">Ingrese fecha de ingreso</label>
                    <input name="fecha"type="date" class="form-control" id="fecha" required />
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="genero">Genero</label>
                    <br>
                  <select name='genero' class="select" required >
                    <option value="1" disable>Genero</option>
                    <option value="genero 1">Femenino</option>
                    <option value="genero 2">Masculino</option>
                    <option value="genero 3">Otro?</option>
                  </select>

                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="materia">Materia: </label>
                <select name="materia" class="select" required >
                    <option value="1" disable>Selecciona una materia</option>
                  <option value="materia 1">Matematicas</option>
                  <option value="materia 2">Fisica</option>
                  <option value="materia 3">Estadistica</option>
                </select>

              </div>

              <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                <div class="col-md-8">

                  <div data-mdb-input-init class="form-outline">
                    <label class="form-label" for="folio">Ingresa numero de folio</label>
                    <input name="folio" type="text" id="folio" class="form-control" required  />
                    
                  </div>
                    <div data-mdb-input-init class="form-outline pt-3 py-2">
                    <label class="form-label" for="folio2">puntuación del examen de admisión</label>
                    <input name="folio2" type="number" id="folio2" class="form-control" required  />
                    
                  </div>

                </div>
              </div>

              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>